@{
    ViewData["Title"] = "Başlangıç";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>

</div>

@{
    ViewData["Title"] = "Pompa Yazarkasalar";
}    
<div <p style="font-size: 20px; color:#1F9AFE;">
<a href="Webpage_FilePath">Başla</a>
</p>
</div>
