@page "/Register"
@model PresentationLayer.Pages.RegisterModel
@{
    Layout = "_Layout";
}
<link href="~/css/custom.css" rel="stylesheet" />

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <section>
                        <form id="account" method="post">
                            <h2 class="text-center">Register as a new user</h2>
                            <hr />
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="registerModel.FirstName" class="form-control" autocomplete="given-name" aria-required="true" placeholder="Name" />
                                <label asp-for="registerModel.FirstName" class="form-label">Name</label>
                                <span asp-validation-for="registerModel.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="registerModel.LastName" class="form-control" autocomplete="family-name" aria-required="true" placeholder="Surname" />
                                <label asp-for="registerModel.LastName" class="form-label">Surname</label>
                                <span asp-validation-for="registerModel.LastName" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="registerModel.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="User Name" />
                                <label asp-for="registerModel.UserName" class="form-label">User Name</label>
                                <span asp-validation-for="registerModel.UserName" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="registerModel.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="registerModel.Email" class="form-label">Email</label>
                                <span asp-validation-for="registerModel.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="registerModel.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                                <label asp-for="registerModel.Password" class="form-label">Password</label>
                                <span asp-validation-for="registerModel.Password" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="registerModel.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                                <label asp-for="registerModel.ConfirmPassword" class="form-label">Confirm Password</label>
                                <span asp-validation-for="registerModel.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div>
                                <button id="register-submit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
